.visualh5Controls {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 3px #999;
  height: 500px;
  align-items: center;
  background-color: #fff;
}

.visualh5ControlsItem {
  width: 120px;
  height: 50px;
  border: 1px solid rgb(247, 52, 117);
  margin-bottom: 20px;
  line-height: 50px;
  text-align: center;
  background: rgb(101, 169, 224);
}

.visualLayout {
  position: relative;
  height: 900px;
  border: 1px dashed #999;
  margin: 0 10px;
}

.visualh5Header {
  color: #fff;
}